@import "tailwindcss";

*{
  box-sizing: border-box;
}
body {
  margin:0;
  padding:0;
}

@theme {
    --color-purplee: #2C1F40;
    --color-yellowText: #F2ED74;
}

body {
    font-family: "Almendra", serif ;
    font-weight: 400;
  font-style: normal;
}